<nav class="nav">
    <a class="nav_item" href="{{ path('main_accueil') }}">Home</a>
    <a class="nav_item" href="{{ path('wish_list') }}">All wishes</a>
    <a class="nav_item" href="{{ path('bucket_about') }}">About us</a>
</nav>