
.header {
    background-color: #ffdac2;
    font-family: fantasy;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}

html {
    padding-bottom: 50px;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

.body {
    background-color: antiquewhite;
    font-family: Arial Narrow, serif;
    height: 100%;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    padding-right: 25px;
}

.nav {
    background-color: #ffdac2;
    font-family: Bradley Hand ITC, serif;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 100px;
    display: flex;
    justify-content: flex-end;

}
    .nav_item {
        padding-left: 25px;
        padding-right: 25px;
        text-decoration: none;
        font-size: x-large;
        color: saddlebrown;
    }
    .nav_item:hover {
        color: forestgreen;
        transition-duration: 0.6s;
    }

.footer {
    background-color: #ffdac2;
    font-family: fantasy;
    font-size: medium;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 100px;
    right: 100px;
    height: 50px;

}

.wish_container {
    font-family: Bradley Hand ITC, serif;
    font-weight: bold;
}
    .wish_item {
        font-size: medium;
    }

.member-portrait{
    border-style: solid;
    border-color: black;
    border-radius: 40%;
    margin-right: 30px;
}
    .member{
        display: flex;
        padding-bottom: 35px;
        padding-top: 35px;
    }
        .member-name{
            font-style: italic;
            font-family: Corbel, serif;
        }

.idea-title{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: Distant-Galaxy;
}
    .idea{
        font-size: x-large;
        font-family: Corbel, serif;
        padding-bottom: 25px;
    }
        .idea-link{
            text-decoration: none;
            color: black;
        }
        .idea-link:hover {
            color: forestgreen;
            transition-duration: 0.6s;
        }

.div{
    display: flex;
    justify-content: center;

}
    .image{
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 20%;
    }
.add-wish{
    padding-left: 300px;
    padding-right: 300px;
}
    .add-wish-button{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }