{% extends 'base.html.twig' %}

{% block contenu %}
    <h1 class="idea-title">Wishes list</h1>
    <section>
        {% for wish in wishes %}
            <article class="idea">
                <a class="idea-link" href="{{ path('wish_detail', {'id': wish.id}) }}">
                    {{ wish.title }} - {{ wish.categories.name }}
                </a>
                <div>
                    {% for categorie in wish.categories %}
                        <div>{{ categorie.name }}</div>
                    {% endfor %}
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}