<!DOCTYPE html>
<html lang="fr" class="html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket-list{% endblock %}</title>
    <link rel="icon" href="{{ asset('pictures/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body class="body">
{% include('fragments/header.html.twig') %}
{% include('fragments/barre-navigation.html.twig') %}
{% block contenu_accueil %}{% endblock %}
{% block contenu_about_us %}{% endblock %}
{% block contenu_list %}{% endblock %}
{% include ('fragments/footer.html.twig') %}
</body>
</html>
